.buttonStyleMenu {
    border-radius: 5px;
    font-family: Arial;
    color: #a7df63;
    font-size: 16px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.buttonStyleMenu:hover{
    color: white;
    background-color: #a7df63;
}

a > button {
    color: #a7df63;
}


a > button:hover {
    color: white;
}

@media(max-width: 600px){
    .hidden{   
        display: none !important;
    }
    .one, .two, .three{
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 10px auto;
    }
    .menu-toggle{
        width: 40px;
        height: 50px;
    }
}