.services-content {
    display:flex;
    flex-direction: column;
    margin-left: 50%;
    padding-top: 12%;
    max-width: 30%;
}

.services-content > h1 {
    color: khaki;
}

.services-content > p {
    padding-top: 5vh;
    color: grey;
    font-size: 16px;
}