.blog {
    text-align: center;
    padding-top: 10vh;
    background-color: #f1f3f4;
    height: 100vh;
    overflow: hidden;
}

.blogPost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 120vw;
    padding-left: 10%;
}

.post {
    display: block;
    height: 65vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 5vh;
}
@media(max-width: 980px){
    .post{
        height: 70vh;
    }
}

@media(max-width: 700px) {
    .blogPost{
        display: block;
        width: 80%;
        padding-left: 0%;
    }

    .post{
        height: 50vh;
    }
    .blog{
        height: 240vh;
    }
    .image {
        width: 100%;
        object-fit: cover;
        height: 25vh;
    }
}
